<md-card>
    <md-card-title>
        Material Design Examples
    </md-card-title>
    <md-card-content>
        <md-list>
            <md-list-item>
                <md-checkbox md-line>Check me!</md-checkbox>
            </md-list-item>
            <md-list-item></md-list-item>
            <md-list-item>
                <form class="example-form">
                    <md-form-field class="example-full-width">
                        <input mdInput md-line placeholder="Favorite Framework" value="Angular">
                    </md-form-field>
                </form>
            </md-list-item>
            <md-list-item></md-list-item>
            <md-list-item>
                <md-radio-group>
                    <md-radio-button value="1">Option 1</md-radio-button>
                    <md-radio-button value="2">Option 2</md-radio-button>
                </md-radio-group>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>