<md-card>
    <md-card-title>Server Rendered Angular Application with Material Styles and Firebase</md-card-title>
    <md-card-content>
        Angular2 applications are great, but if you need them to be fully optimized for search engines and social media
        sharing, server rendering is the most efficient way to go.
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="primary" [routerLink]="['/examples']">Material Component Examples</button>
    </md-card-actions>
</md-card>
